<div class="row">
    <div class="col-5">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Temas
                </h4>
                <hr>
                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><b>Con el sidebar claro</b></li>
                        <li #link1 (click)="cambiarColor('default', $event )"><a data-theme="default" class="selector default-theme">1</a></li>
                        <li #link2 (click)="cambiarColor('green', $event )"><a data-theme="green" class="selector green-theme">2</a></li>
                        <li #link3 (click)="cambiarColor('red', $event )"><a data-theme="red" class="selector red-theme">3</a></li>
                        <li #link4 (click)="cambiarColor('blue', $event )"><a data-theme="blue" class="selector blue-theme">4</a></li>
                        <li #link5 (click)="cambiarColor('purple', $event )"><a data-theme="purple" class="selector purple-theme">5</a></li>
                        <li #link6 (click)="cambiarColor('megna', $event )"><a data-theme="megna" class="selector megna-theme">6</a></li>

                        <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
                        <li #link7 (click)="cambiarColor('default-dark',$event )"><a data-theme="default-dark" class="selector default-dark-theme">7</a></li>
                        <li #link8 (click)="cambiarColor('green-dark', $event )"><a data-theme="green-dark" class="selector green-dark-theme">8</a></li>
                        <li #link9 (click)="cambiarColor('red-dark', $event )"><a data-theme="red-dark" class="selector red-dark-theme">9</a></li>
                        <li #link10 (click)="cambiarColor('blue-dark', $event )"><a data-theme="blue-dark" class="selector blue-dark-theme">10</a></li>
                        <li #link11 (click)="cambiarColor('purple-dark', $event)"><a data-theme="purple-dark" class="selector purple-dark-theme">11</a></li>
                        <li #link12 (click)="cambiarColor('megna-dark', $event )"><a data-theme="megna-dark" class="selector megna-dark-theme">12</a></li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>